:root{
  --sidebarInlineSize: 15rem;
  --minBlockSize: 30.5rem;
  --minInlineSize: 48rem;
  --bottomSize: 5.5rem;
}

.layout{
  /* box-shadow: inset 0 0 0 10px red; */
  min-inline-size: var(--minInlineSize);
  /* min-block-size: var(--minBlockSize); */
}
.layout-sidebar{
  block-size: calc(100vh - var(--bottomSize));
  min-block-size: var(--minBlockSize);
  inline-size: var(--sidebarInlineSize);
  overflow: auto;
  flex-shrink: 0;
  background: var(--gray60);
}
.layout-main{
  block-size: calc(100vh - var(--bottomSize));
  min-block-size: var(--minBlockSize);
  overflow: auto;
  width: 100%; /* plus */
}
.layout-bottom{
  flex: 1;
  block-size: var(--bottomSize);
}
.layout-block{
  display: flex;
}

.is-background{
  background: linear-gradient(181.17deg, rgba(47, 47, 47, 0) -35.3%, #171717 66.2%), url('../images/portada.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: local;
}