.nowPlaying{
  display: flex;
  gap: .5rem;
}
.nowPlaying-details{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nowPlaying-cover img{
  inline-size: 3.5rem;
  block-size: 3.5rem;
  vertical-align: bottom;
}
.nowPlaying-title{
  font: var(--baseFontBold);
  color: var(--white);
  text-decoration: none;
  display: block;
}

.nowPlaying-artist{
  font: var(--small);
  color: var(--grey10);
  text-decoration: none;
}
